# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
.cache/
cache/          
*.log

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# IDE/editor config files
.vscode/
.idea/
